{% extends 'base/base.html' %}
{% load static store_tags %}

{% block content %}
{# Sections, their order and their titles are managed from «الصفحة الرئيسية» in the dashboard #}
{% for block in blocks %}
  {% with sec=block.sec items=block.items %}
    {% if block.key == 'hero' %}{% include 'partials/home/hero.html' %}
    {% elif block.key == 'banners' %}{% include 'partials/home/banners.html' %}
    {% elif block.key == 'features' %}{% include 'partials/home/features.html' %}
    {% elif block.key == 'categories' %}{% include 'partials/home/categories.html' %}
    {% elif block.key == 'about' %}{% include 'partials/home/about.html' %}
    {% elif block.key == 'portfolio' %}{% include 'partials/home/portfolio.html' %}
    {% elif block.key == 'reviews' %}{% include 'partials/home/reviews.html' %}
    {% else %}{% include 'partials/home/products.html' %}
    {% endif %}
  {% endwith %}
{% endfor %}
{% endblock %}
